<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-menu">
            <ul>
                <li>
                    <div class=""><a style="color: #3498db;">Image generator</a></div>
                    <div class="history"><a href="/historyImage">History Images</a></div>
                </li>
                <li>
                    <div class=""><a href="/movie">Search for a Movie</a></div>
                    <div class="history"><a href="/historyMovie">History Movies</a></div>
                </li>
                <li>
                    <div class=""><a href="/weather">Weather app</a></div>
                    <div class="history"><a href="/historyCity">History Cities</a></div>
                </li>
            </ul>
        </div>
    </nav>

    <form action="/main" method="post">
        <div class="row">
            <input type="text" name="image" id="image" placeholder="Describe what you want to see">
            <button type="submit">Generate image</button>
        </div>
    </form>
    
    <% if (imageUrl) { %>
        <img src="<%= imageUrl %>" alt="Generated Image">
    <% } else { %> 
        <img src="/images/AI-Image.png"  style="width: 650px; height: 512px;" alt="Generated Image">
    <% } %> 
</body>
</html>
