<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <form action="/getDataFromReg" method="post" class="registration-form">
        <input name="username" type="text" placeholder="Username" required>
        <input name="phone" type="text" placeholder="Phone number" required>
        <input name="password" type="password" placeholder="Password" required>
        <input name="repassword" type="password" placeholder="Retype your password" required>
        <button type="submit">Sign up</button>
    </form>
</body>
</html>