body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff; /* Set the background color of the table to white */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.admin-status {
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add-user-form, .edit-user-form, .delete-user-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.add-user-form h2, .edit-user-form h2, .delete-user-form h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .add-user-form, .edit-user-form, .delete-user-form {
        width: calc(50% - 20px);
        margin-right: 20px;
    }
}

@media screen and (min-width: 992px) {
    .add-user-form, .edit-user-form, .delete-user-form {
        width: calc(33.33% - 20px);
        margin-right: 20px;
    }
}